@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Nanum+Gothic:wght@400;700;800&display=swap');

@font-face {
  font-family: Khn-heading;
  src: url('~/assets/fonts/KHNPHDotfR.otf') format('opentype');
}
@font-face {
  font-family: Khn-heading;
  src: url('~/assets/fonts/KHNPHDotfB.otf') format('opentype');
  font-weight: bold;
}

body {
  font-weight: 400;
  line-height: 1.6;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  min-height: 100vh;
  background: #fbfbfb;
}

/* html {
  font-size: 10px;
  @media screen(tablet) {
    font-size: 16px;
  }
} */
